body{
    background-color: black;
    color: white;    
}

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    scroll-behavior: smooth;
    
}



.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-col{
    flex-direction: column;
}

.center{
    justify-content: center;
    align-items: center;
}